{:remove-surrounding-whitespace?  true
 :remove-trailing-whitespace?     true
 :remove-consecutive-blank-lines? false
 :insert-missing-whitespace?      true
 :align-associative?              true
 :indents                         {clojure.spec.alpha/def                [[:block 1]]
                                   clojure.test.check.properties/for-all [[:block 1]]}}